.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  width: 100%;
  border-bottom: 1px solid #E6E6E6;
  background: white;

  position: fixed;
  top: 0;
  z-index: 2;

  @media (max-width: 768px) {
    padding: 16px;
  }
}

.icon-burger {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  background: url("../../pix/menu.svg");
  background-size: contain;


}