.navigation-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;

  .navigation-card {
    border-radius: 16px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);

    &:hover {
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    }
  }

  img {
    border-radius: 16px;
    width: 100%;
    height: 200px;
    filter: blur(1);
  }
}