.list-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 24px;


  @media (min-width: 568px) {
    grid-template-columns: 1fr;

    .text-truncate {
      visibility: visible;
      white-space: unset;
    }
    .product-card {
      display: flex;
      flex-direction: row;
      gap: 24px;

      a {
        flex-shrink: 0;
      }

      .content-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        padding: 24px 0;
      }
    }
  }
}