.navbar {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 8px;

  a {
    width: 100%;
    padding: 4px 12px;

    &:hover {
      color: rgba(13, 110, 253, 0.8);
    }

    &.active {
      color: rgb(13, 110, 253);
    }
  }
}

.navbar-wrapper {
  @media (max-width: 768px) {
    display: none !important;
  }
}